```css
* {
  font-family: Hack Nerd Font, DejaVu Sans;
  font-size: 14px;
  color: #cdd6f4;
}

window#waybar {
  background: #1e1e2ecc;
  border-bottom: 1px solid #cba6f7;
}

#workspaces button {
  padding: 0 5px;
  background: transparent;
  color: #cdd6f4;
}

#workspaces button.active {
  background: #cba6f7;
  color: #1e1e2e;
}

#window, #clock, #cpu, #memory, #network, #pulseaudio, #tray {
  padding: 0 10px;
  margin: 0 5px;
  background: transparent;
}

#clock {
  font-weight: bold;
}
```
